{% extends "admin/base_site.html" %}
{% load custom_filters %}  <!-- Загружаем кастомные фильтры -->
{% load static %}

{% block content %}
<div class="report-container">
    <h1>Отчет по продажам</h1>

    <div class="report-actions">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Сформировать отчет</button>

            {% if has_dates %}
                <a href="pdf/" class="button" style="background-color:#ba2121; color:white; margin-left:10px;">
                    Сохранить в PDF
                </a>
               <a href="csv/" class="button" style="background-color:#417690; color:white; margin-left:10px;">
                    Сохранить в CSV
                </a>
            {% endif %}
        </form>
    </div>

    {% if report_data %}
        <h2>Данные за период:
            {{ request.session.report_start_date }} -
            {{ request.session.report_end_date }}
        </h2>

        <div class="results">
            <table border="1" style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr style="background-color:#f5f5f5;">
                        <th style="padding:8px; text-align:left;">Время сеанса</th>
                        {% for pt in report_data.product_types %}
                            <th style="padding:8px; text-align:center;">{{ pt.name }}</th>
                        {% endfor %}
                        <th style="padding:8px; text-align:right;">Общая сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in report_data.table_data %}
                    <tr>
                        <td style="padding:8px;">{{ row.time|date:"Y-m-d H:i" }}</td>
                        {% for pt in report_data.product_types %}
                            <td style="padding:8px; text-align:center;">{{ row|get_item:pt.key }}</td>
                        {% endfor %}
                        <td style="padding:8px; text-align:right;">{{ row.total_sales }} ₽</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr style="background-color:#f5f5f5; font-weight:bold;">
                        <td style="padding:8px;">Итого:</td>
                        {% for pt in report_data.product_types %}
                            <td style="padding:8px; text-align:center;">{{ report_data.totals|get_item:pt.key }}</td>
                        {% endfor %}
                        <td style="padding:8px; text-align:right;">{{ report_data.totals.total_sales }} ₽</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% else %}
        <p>Выберите даты для формирования отчета</p>
    {% endif %}
</div>
{% endblock %}