{% extends "admin/base_site.html" %}

{% block title %}
   Заказ № {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Главная</a> &rsaquo;
    <a href="{% url 'admin:orders_order_changelist' %}">Заказы</a> &rsaquo;
    <a href="{% url 'admin:orders_order_change' order.id %}">Заказ № {{ order.id }}</a> &rsaquo; Детально
</div>
{% endblock %}

{% block content %}
<div class="module">
    <h1>Заказ № {{ order.id }}</h1>
    <ul class="object-tools">
        <li><a href="#" onclick="window.print()">Печать заказа</a></li>
    </ul>
    <table>
        <tr><th>Дата создания заказа:</th><td>{{ order.created }}</td></tr>
        <tr><th>Время сеанса:</th><td>{{ order.time_of_the_event }}</td></tr>
        <tr><th>Покупатель:</th><td>{{ order.first_name }} {{ order.last_name }}</td></tr>
        <tr><th>Электронная почта:</th><td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td></tr>
        <tr><th>Адреc:</th><td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td></tr>
        <tr><th>Итого:</th><td>{{ order.get_total_cost }} руб.</td></tr>
        <tr><th>Статус:</th><td>{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</td></tr>
        <tr><th>Stripe платеж:</th><td>{% if order.stripe_id %}<a href="{{ order.get_stripe_url }}" target="_blank">{{ order.stripe_id }}</a>{% endif %}</td></tr>
    </table>
</div>
<div class="module">
    <h2>Товары в заказе</h2>
    <table style="width:100%">
        <thead>
        <tr>
        <th>Категория</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Итого</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
        <td>{{ item.product.category }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.description }}</td>
        <td class="num>">{{ item.price }}</td>
        <td class="num>">{{ item.quantity }}</td>
        <td>{{ item.get_cost }} руб.</td>
        </tr>
        {% endfor %}
        <tr class="total">
            <td colspan="5">Итого:</td>
            <td class="num">{{ order.get_total_cost }} руб.</td>
        </tr>
        </tbody>
        </table>
    </div>
{% endblock %}
