@page {
    size: A4;
    margin: 1cm;
}

body {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 10pt;
}

h1 {
    color: #447e9b;
    font-size: 14pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #447e9b;
    color: white;
    padding: 5px;
}

td {
    padding: 5px;
    border: 1px solid #ddd;
}

.total {
    font-weight: bold;
}